<!DOCTYPE html>

<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food not found</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylessheet" />
    
</head> 
    
<body>
    <h2>Sorry, this food name is not in the database.</h2>
    <img src="../static/{{ image }}">
    <a href="https://www.vecteezy.com/free-vector/vegetable">Vegetable Vectors by Vecteezy</a>
    <h2>Do you want to try again?</h2> 
    <form action="{{ url_for('get_content2') }}">
        <input type="text" name="yes_no" id="yes_no" placeholder="Please enter yes or no" />
        <button type="submit">Submit</button>
    </form>

</body>
    
</html>