<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food content</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    
</head> 
    
<body>
    <h3>Here is some nutritional information about {{ food }} :</h3>
    
{% for table in tables %}
            {{ table|safe }}
{% endfor %}

    <h3>Please insert a food name:</h3>

    <form action = "{{ url_for('get_content') }}">
        <input type="text" name="food" id="food" placeholder="Enter food name here" />
        <button type="submit">Submit</button>
    </form>

</body>
    
</html>