<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Information</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>
    <section class="content-page">
        <h1>
            <span class="nowrap">Here is some nutritional information about </span>
            <span class="nowrap"> "{{ food }}":</span>
        </h1>
        <!-- Nutrition table -->
        <div class="scroll-bar">
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>
        <!-- Conversational yes/no form -->
        <form action="{{ url_for('get_content2') }}" method="get">
            <label for="yes_no">Would you like to select another food? (yes/no)</label>
            <input type="text" id="yes_no" name="yes_no" autocomplete="off" required>
            <button type="submit">Submit</button>
        </form>
    </section>
</body>

</html>