<!DOCTYPE html>

<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food not found</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylessheet" />
    
</head> 
    
<body>
    <h2>Sorry, this food name is not in the database.</h2>
    <h2>Do you want to try again?</h2> 
    <form action="/content">
        <input type="text" name="food" id="food" placeholder="Please insert a food name" />
        <button type="submit">Submit</button>
    </form>

</body>
    
</html>