<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food content</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylessheet" />

</head> 
    
<body>
    <h1>Welcome to the food content app!</h1>
    <h2>Please insert a food name: </h2>
    <form action="{{ url_for('get_content') }}">
        <input type="text" name="food" id="food" placeholder="Insert food here" />
        <button type="submit">Submit</button>
    </form>

</body>
    
</html>