<!DOCTYPE html>

<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid answer</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    
</head> 
    
<body>
    <section class="background">
    <section>
    <div class="invalid-pic">
    <img src="../static/{{ image }}"></div>
    <div class="invalid-mess"><h1>Sorry, that was not the answer I expected...</h1>
    <h1>Good bye!</h1></div></section>
    <p class="attribution"><a href="https://www.vecteezy.com/free-photos">Free Stock photos by Vecteezy</a></p>
    </section>
</body>
    
</html>