* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { display: block; } /* changing the default inline display of images */

/* body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
} */
 
.welcoming-page {
    background-image:url('../fruitsvegg.jpg');
    background-size: contain/*1920px 1280px; */
/*     border-bottom: 2px solid black; */
/*     padding: 20px;       */
    background-color: #333; /* fallback in case image doesn't load */
/*      display: block;  */
    background-repeat: repeat;
    min-height: 600vh;
    color: whitesmoke;
    font-size: 2rem;
    background-size: 30%;
/*     align-content: center; */
}


.welcoming-page h1, .welcoming-page h2, .welcoming-page form {
    display:flex;
    justify-content: center;
    text-shadow: 5px 5px 10px black;
    padding: 30px;
    margin-top: 50px;

}

.not-found-pic {
    float:left;
    margin: 2rem;
    padding-right: 3rem;
/*     display:flex;
    align-content:center; */
}

div.not-found-mess {
     margin-top: 5rem;
}

.not-found-mess form {
    padding: 2rem;
    text-align: center;
}
/*     display:block;
    flex-wrap: wrap; */

    
.not-found-mess h1 {
    font-size: 4rem;
    text-shadow: 5px 5px 10px black;
    color: whitesmoke;
    text-align: center;

}

.not-found-mess h2 {
    text-shadow: 5px 5px 10px black;
    color: whitesmoke;
    text-align: center;
}

section {
    display: flow-root;
}

.background {
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
}

.food-background {
    background-image:url('../fruitsvegg.jpg');
    background-size: 30%;
    background-repeat: repeat;
    min-height: 100vh;
    
}

.bye-pic {
    float:left;
/*     margin: 2rem; */
/*     padding-right: 1rem; */
}

.bye-mess h1 {
    font-size: 4rem;
    margin-top: 7rem;
    text-shadow: 5px 5px 10px black;
    color: whitesmoke;
    text-align: center;
/*     display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px; */
}

.invalid-pic {
    float:left;
    margin: 2rem;
    padding-right: 3rem;
}

.invalid-mess h1 {
    font-size: 4rem;
    margin-top: 5rem;
    text-shadow: 5px 5px 10px black;
    color: whitesmoke;
    text-align: center;
}

.content-page {
    background-image:url('../fruitsvegg.jpg');
    background-color: #333; /* fallback in case image doesn't load */
/*     display: block;  */
/*     background-repeat: no-repeat; */
    min-height: 200vh;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 5px 5px 10px black;
    background-size: 30%;
    background-repeat: repeat;
}

.content-page form {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.content-page h1 {
    text-align: center;
    margin: 1rem;
}

table {
    background-color: hsla(0,0%,0%,0.70);
    border-collapse: collapse;
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem;
}

div.scroll-bar {
   overflow-x: scroll;
}

/* .nowrap {
    white-space: nowrap;
} */

.attribution {
    margin: 2rem;
    font-size: 1rem;
    color: darkblue;
}

a:visited {
    color:darkblue;
}

input, button {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 30px;
}